* {
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(234, 234, 234);
  margin:0px;
  padding: 0px;
}


input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}
h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 5px;
}

.center{
  display:flex;
  justify-content: center;
  padding: 2rem;
  
}

.card-grid {
  columns:4;
  column-gap: 1em;
  margin:0;
  padding: 1em;
  width:calc(100vw-1em);
}

.card {
  align-content: center;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  
  overflow: hidden;
  margin: 0;
}

.card *{
  margin:0px;

}

.card figcaption {
  display: none;
  position:relative;
  bottom: 0px; 
  background-color: white;
  flex: 1;
  font-size: 1rem;
  margin-top: 5px;
  padding: 5px 20px 0px 20px;
  text-align: center;
}

.card img {
  width: 100%;
  max-width: 100%;
  display:block;
  

}

.card {
  margin-bottom: 1em;

}